body {
    background-color: black;
    
}

h1{
    font-family: 'Oswald'
}

li{
    font-family: 'Oswald'
}

.contactheader {
  background-image: url(contact.jpg);
  background-repeat: no-repeat;
  position: relative;
  margin: 2px;
  background-position: 0px -620px;
  background-size: 1400px 1050px;
  padding: 65px;
  text-align: center;
  color: white;
  font-size: 10px;
}

.contacttext{
  float: center;
  font-size: 16px;
  width: 80%;
  color: white;
  box-sizing: border-box;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 100px;
}