ul {
  list-style-type: none;
  margin: 0;
  padding: 20;
  background-color: black;
  text-align: right;
  font-size: 18px;
}

a {
    color: white
}

li {
  display: inline;
  color: green;
  font-family: courier;
  margin: 10px;
}